/*STYLES FOR CSS POPUP*/


.blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
  
}

.popUpDiv {
	position:absolute;
	background-color:white;
	width:900px;
	height:600px;
	border:3px solid #000;
	z-index: 9002;
	overflow: auto;
	top: 150px;
	border-radius: 15px;
	
}

.popUpDiv a {position:relative; top:20px; left:20px}